body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

button {
  height: 20px;
  width: 60px;
  border-radius: 10%;
}

.quizButton {
  position: absolute;
  top: 148px;
  left: 1620px;
}

.typeFilter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 175px;
}

.searchBar {
  position: absolute;
  top: 146px;
  left: 1691px;
  height: 25px;
  width: 200px;
}

#guessForm {
  position: fixed;
  top: 147px;
  left: 1640px;
  color: green;
}

.inputBar {
  position: fixed;
  top: 140px;
  left: 1683px;
  height: 25px;
  width: 200px;
}

#allGen {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  height: 170px;
  width: 160px;
}

#quizGen {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  height: 170px;
  width: 160px;
}

.normal {
  background-color: rgb(168, 168, 120);
}

.grass {
  background-color: rgb(120, 200, 80);
}

.fire {
  background-color: rgb(240, 128, 48);
}

.water {
  background-color: rgb(104, 144, 240);
}

.electric {
  background-color: rgb(248, 208, 48);
}

.poison {
  background-color: rgb(160, 64, 160);
}

.ice {
  background-color: rgb(152, 216, 216);
}

.fighting {
  background-color: rgb(192, 48, 40);
}

.ground {
  background-color: rgb(244, 192, 104);
}

.flying {
  background-color: rgb(168, 144, 240);
}

.psychic {
  background-color: rgb(248, 88, 136);
}

.bug {
  background-color: rgb(168, 184, 32);
}

.rock {
  background-color: rgb(184, 160, 56);
}

.ghost {
  background-color: rgb(112, 88, 152);
}

.dragon {
  background-color: rgb(112, 56, 248);
}

.dark {
  background-color: rgb(112, 88, 72);
}

.steel {
  background-color: rgb(184, 184, 208);
}

.fairy {
  background-color: rgb(255, 155, 225);
}

[class='grass poison'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(160, 64, 160));
}

[class='normal flying'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(168, 144, 240));
}

[class='bug flying'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(168, 144, 240));
}

[class='bug poison'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(160, 64, 160));
}

[class='rock water'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(104, 144, 240));
}

[class='rock ground'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(244, 192, 104));
}

[class='water ground'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(244, 192, 104));
}

[class='psychic flying'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(168, 144, 240));
}

[class='steel psychic'] {
  background-image: linear-gradient(rgb(184, 184, 208), rgb(248, 88, 136));
}

[class='water flying'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(168, 144, 240));
}

[class='psychic fairy'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(255, 155, 225));
}

[class='steel rock'] {
  background-image: linear-gradient(rgb(184, 184, 208), rgb(184, 160, 56));
}

[class='water ice'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(152, 216, 216));
}

[class='grass flying'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(168, 144, 240));
}

[class='poison dark'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(112, 88, 72));
}

[class='ground ghost'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(112, 88, 152));
}

[class='ground dragon'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(112, 56, 248));
}

[class='bug rock'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(184, 160, 56));
}

[class='bug steel'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(184, 184, 208));
}

[class='bug grass'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(120, 200, 80));
}

[class='ghost fire'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(240, 128, 48));
}

[class='ghost grass'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(120, 200, 80));
}

[class='fire fighting'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(192, 48, 40));
}

[class='fire flying'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(168, 144, 240));
}

[class='water poison'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(160, 64, 160));
}

[class='water dark'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(112, 88, 72));
}

[class='dragon flying'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(168, 144, 240));
}

[class='dark flying'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(168, 144, 240));
}

[class='normal psychic'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(248, 88, 136));
}

[class='normal fairy'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(255, 155, 225));
}

[class='bug water'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(104, 144, 240));
}

[class='steel ground'] {
  background-image: linear-gradient(rgb(184, 184, 208), rgb(244, 192, 104));
}

[class='fire rock'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(184, 160, 56));
}

[class='water psychic'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(248, 88, 136));
}

[class='grass fighting'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(192, 48, 40));
}

[class='grass dragon'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(112, 56, 248));
}

[class='grass fairy'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(255, 155, 225));
}

[class='electric flying'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(168, 144, 240));
}

[class='ice psychic'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(248, 88, 136));
}

[class='dark normal'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(168, 168, 120));
}

[class='normal fighting'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(192, 48, 40));
}

[class='fighting psychic'] {
  background-image: linear-gradient(rgb(192, 48, 40), rgb(248, 88, 136));
}

[class='poison fighting'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(192, 48, 40));
}

[class='rock flying'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(168, 144, 240));
}

[class='bug fire'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(240, 128, 48));
}

[class='bug electric'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(248, 208, 48));
}

[class='ghost dragon'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(112, 56, 248));
}

[class='steel dragon'] {
  background-image: linear-gradient(rgb(184, 184, 208), rgb(112, 56, 248));
}

[class='steel fairy'] {
  background-image: linear-gradient(rgb(184, 184, 208), rgb(255, 155, 225));
}

[class='water fairy'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(255, 155, 225));
}

[class='grass psychic'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(248, 88, 136));
}

[class='grass dark'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(112, 88, 72));
}

[class='electric steel'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(184, 184, 208));
}

[class='psychic ghost'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(112, 88, 152));
}

[class='dark dragon'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(112, 56, 248));
}

[class='dark fighting'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(192, 48, 40));
}

[class='fighting steel'] {
  background-image: linear-gradient(rgb(192, 48, 40), rgb(184, 184, 208));
}

[class='poison flying'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(168, 144, 240));
}

[class='poison dragon'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(112, 56, 248));
}

[class='ground flying'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(168, 144, 240));
}

[class='ground dark'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(112, 88, 72));
}

[class='rock electric'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(248, 208, 48));
}

[class='rock ice'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(152, 216, 216));
}

[class='bug fighting'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(192, 48, 40));
}

[class='ghost flying'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(168, 144, 240));
}

[class='ghost poison'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(160, 64, 160));
}

[class='steel flying'] {
  background-image: linear-gradient(rgb(184, 184, 208), rgb(168, 144, 240));
}

[class='steel ghost'] {
  background-image: linear-gradient(rgb(184, 184, 208), rgb(112, 88, 152));
}

[class='fire ground'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(244, 192, 104));
}

[class='water fighting'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(192, 48, 40));
}

[class='water ghost'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(112, 88, 152));
}

[class='water grass'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(120, 200, 80));
}

[class='water electric'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(248, 208, 48));
}

[class='water dragon'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(112, 56, 248));
}

[class='grass steel'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(184, 184, 208));
}

[class='electric grass'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(120, 200, 80));
}

[class='psychic fire'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(240, 128, 48));
}

[class='ice ground'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(244, 192, 104));
}

[class='dragon fire'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(240, 128, 48));
}

[class='dragon electric'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(248, 208, 48));
}

[class='dragon psychic'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(248, 88, 136));
}

[class='dark fire'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(240, 128, 48));
}

[class='dark psychic'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(248, 88, 136));
}

[class='dark fairy'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(255, 155, 225));
}

[class='fairy flying'] {
  background-image: linear-gradient(rgb(255, 155, 225), rgb(168, 144, 240));
}

[class='normal ground'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(244, 192, 104));
}

[class='normal ghost'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(112, 88, 152));
}

[class='normal grass'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(120, 200, 80));
}

[class='fighting flying'] {
  background-image: linear-gradient(rgb(192, 48, 40), rgb(168, 144, 240));
}

[class='poison ground'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(244, 192, 104));
}

[class='poison fire'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(240, 128, 48));
}

[class='poison psychic'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(248, 88, 136));
}

[class='ground psychic'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(248, 88, 136));
}

[class='rock grass'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(120, 200, 80));
}

[class='rock psychic'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(248, 88, 136));
}

[class='rock dragon'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(112, 56, 248));
}

[class='rock fairy'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(255, 155, 225));
}

[class='bug ground'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(244, 192, 104));
}

[class='bug psychic'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(248, 88, 136));
}

[class='bug fairy'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(255, 155, 225));
}

[class='fire normal'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(168, 168, 120));
}

[class='grass ice'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(152, 216, 216));
}

[class='electric normal'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(168, 168, 120));
}

[class='electric poison'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(160, 64, 160));
}

[class='electric ice'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(152, 216, 216));
}

[class='electric fairy'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(255, 155, 225));
}

[class='ice flying'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(168, 144, 240));
}

[class='ice bug'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(168, 184, 32));
}

[class='ice steel'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(184, 184, 208));
}

[class='dragon fighting'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(192, 48, 40));
}

[class='dark ghost'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(112, 88, 152));
}

[class='dark steel'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(184, 184, 208));
}

[class='dark ice'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(152, 216, 216));
}

[class='normal water'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(104, 144, 240));
}

[class='normal dragon'] {
  background-image: linear-gradient(rgb(168, 168, 120), rgb(112, 56, 248));
}

[class='fighting ghost'] {
  background-image: linear-gradient(rgb(192, 48, 40), rgb(112, 88, 152));
}

[class='fighting ice'] {
  background-image: linear-gradient(rgb(192, 48, 40), rgb(152, 216, 216));
}

[class='poison fairy'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(255, 155, 225));
}

[class='ground electric'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(248, 208, 48));
}

[class='rock fighting'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(192, 48, 40));
}

[class='rock poison'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(160, 64, 160));
}

[class='rock dark'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(112, 88, 72));
}

[class='bug ghost'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(112, 88, 152));
}

[class='ghost fairy'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(255, 155, 225));
}

[class='fire steel'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(184, 184, 208));
}

[class='fire water'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(104, 144, 240));
}

[class='water steel'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(184, 184, 208));
}

[class='grass ground'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(244, 192, 104));
}

[class='electric ghost'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(112, 88, 152));
}

[class='electric fire'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(240, 128, 48));
}

[class='electric psychic'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(248, 88, 136));
}

[class='electric dark'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(112, 88, 72));
}

[class='ice ghost'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(112, 88, 152));
}

[class='ice fire'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(240, 128, 48));
}

[class='ice fairy'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(255, 155, 225));
}

[class='dragon ice'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(152, 216, 216));
}

[class='dragon fairy'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(255, 155, 225));
}

[class='fire dark'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(112, 88, 72));
}

[class='water bug'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(168, 184, 32));
}

[class='psychic steel'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(184, 184, 208));
}

[class='fire ghost'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(112, 88, 152));
}

[class='ghost ground'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(244, 192, 104));
}

[class='poison water'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(104, 144, 240));
}

[class='grass ghost'] {
  background-image: linear-gradient(rgb(120, 200, 80), rgb(112, 88, 152));
}

[class='bug water'] {
  background-image: linear-gradient(rgb(168, 184, 32), rgb(104, 144, 240));
}

[class='psychic grass'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(120, 200, 80));
}

[class='rock bug'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(168, 184, 32));
}

[class='ice water'] {
  background-image: linear-gradient(rgb(152, 216, 216), rgb(104, 144, 240));
}

[class='water rock'] {
  background-image: linear-gradient(rgb(104, 144, 240), rgb(184, 160, 56));
}

[class='rock steel'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(184, 184, 208));
}

[class='ghost dark'] {
  background-image: linear-gradient(rgb(112, 88, 152), rgb(112, 88, 72));
}

[class='dragon ground'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(244, 192, 104));
}

[class='poison bug'] {
  background-image: linear-gradient(rgb(160, 64, 160), rgb(168, 184, 32));
}

[class='ground rock'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(184, 160, 56));
}

[class='psychic fighting'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(192, 48, 40));
}

[class='ground steel'] {
  background-image: linear-gradient(rgb(244, 192, 104), rgb(184, 184, 208));
}

[class='fire psychic'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(248, 88, 136));
}

[class='fighting dark'] {
  background-image: linear-gradient(rgb(192, 48, 40), rgb(112, 88, 72));
}

[class='flying dragon'] {
  background-image: linear-gradient(rgb(168, 144, 240), rgb(112, 56, 248));
}

[class='fire dragon'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(112, 56, 248));
}

[class='flying steel'] {
  background-image: linear-gradient(rgb(168, 144, 240), rgb(184, 184, 208));
}

[class='rock fire'] {
  background-image: linear-gradient(rgb(184, 160, 56), rgb(240, 128, 48));
}

[class='flying water'] {
  background-image: linear-gradient(rgb(168, 144, 240), rgb(104, 144, 240));
}

[class='fire bug'] {
  background-image: linear-gradient(rgb(240, 128, 48), rgb(168, 184, 32));
}

[class='psychic normal'] {
  background-image: linear-gradient(rgb(248, 88, 136), rgb(168, 168, 120));
}

[class='electric dragon'] {
  background-image: linear-gradient(rgb(248, 208, 48), rgb(112, 56, 248));
}

[class='dragon ghost'] {
  background-image: linear-gradient(rgb(112, 56, 248), rgb(112, 88, 152));
}

[class='dark grass'] {
  background-image: linear-gradient(rgb(112, 88, 72), rgb(120, 200, 80));
}
